*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .loginform {
    margin: 50px auto;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .login{
    display: flex;
    color: aqua;



}
  #heading {
    text-align: center;
  }
  
  .loginform input[type="text"],
  .loginform input[type="password"],
  .loginform input[type="number"] {
    width: calc(100% - 20px);
    height: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  
  .loginform button {
    width: calc(100% - 20px);
    height: 35px;
    margin-bottom: 10px;
    background-color: rgb(217, 71, 119);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginform button:hover {
    background-color: rgb(184, 84, 101);
  }
  
  .loginform a {
    color: rgb(184, 84, 101);
    text-decoration: none;
  }
  
  .loginform a:hover {
    text-decoration: underline;
  }
  
  #Form {
    text-align: center;
  }
  
  #Form button {
    margin: 0 5px;
  }
  
  #demo {
    margin-top: 20px;
  }
  
  p {
    text-align: center;
  }
  
  p span {
    cursor: pointer;
  }
  
  p span:hover {
    text-decoration: underline;
  }
  